<div th:fragment="masterBoardMenubar">
  	<div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo"><a href="/board/list">MovieDovie</a></h1>
            </div>
            <div class="menu-list">
                <div class="search-box" style="position:relative; margin-top:27px;">
                    <form action="/board/search" method="get">
                        <input class="search-txt" name="keyword" type="text" placeholder="  작품, 배우, 게시글, 태그를 검색해보세요">
                        <button class="search-btn" type="submit" onclick="searchMovies()">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
          
            
          	<div class="profile-container">
          	<div class="profile-text-container">[[${nickname}]]님, 안녕하세요!</div>
            	<div class="dropdown">
					<img class="profile-picture" src="/images/img/masterprofile.png" alt="">
					<div class="dropdown-content">관리자
						<a href="/member/logout">로그 아웃</a>
						<a href="/master/dashboard">대시보드</a>
						<a href="/master/memberStats">매출/회원 통계</a>
	      				<a href="/master/memberRequest">회원 요청사항 관리</a>
	      				<a href="/master/movieStats">영화 통계</a>
	      				<a href="/master/movieUpload">영화 수정</a>
		       		</div>
     			</div>
             	
            </div>   
        </div>
    </div>
</div>

<script>
	const searchInput = document.querySelector('.search-txt');
	const searchButton = document.querySelector('.search-btn');
	
	// 페이지 로드 시 초기 버튼 상태 설정
	document.addEventListener('DOMContentLoaded', () => {
	    searchButton.disabled = searchInput.value.trim() === '';
	});
	
	// 입력 필드 내용 변경 이벤트 리스너 추가
	searchInput.addEventListener('input', () => {
	    // 입력 필드에 값이 있으면 버튼 활성화, 없으면 비활성화
	    searchButton.disabled = searchInput.value.trim() === '';
	});
</script>