<th:block th:fragment="header">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

<!-- Swal 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-borderless/borderless.css">

<!-- 사용자 정의 css -->
<link rel="stylesheet" href="/css/styles.css" />

</th:block>
